@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
// @import './common.scss';
@import './page.scss';
@import './useAnalysisAndIndex.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Microsoft YaHei, Helvetica Neue, Helvetica, Hiragino Sans GB, Arial, sans-serif;
}

label {
  font-weight: 700;
}

p{
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  // padding: 20px;
}

.other-bg{
  background-color: #f9f9f9;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  // margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.show-data {
  width: 100%;
  .base-data,
  .today-report {
    width: 100%;
    // background-color: #f9f9f9;
    .word-title {
      padding: 20px 34px;
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Medium;
      font-weight: 550;
      text-align: left;
      color: #333333;
      line-height: 20px;
    }
    .card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      .demo {
        cursor: pointer;
        width: 400px;
        display: flex;
        margin: 10px;
        height: 104px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 3px 7px 0px rgba(234, 234, 234, 0.33);
        .content-left,
        .content-right {
          flex: 1;
          margin-top: 25px;
          p {
            margin: 0;
            font-size: 16px;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            text-align: left;
            color: #666666;
          }
          h4 {
            margin: 0;
            margin-top: 5px;
            font-size: 24px;
            font-family: PingFangSC, PingFangSC-Medium;
            font-weight: 500;
            text-align: left;
            color: #333333;
          }
        }
        .content-left {
          margin-left: 25px;
        }
        .content-right {
          text-align: right;
          padding-right: 23px;
          box-sizing: border-box;
          img {
            width: 68px;
            height: 60px;
            vertical-align: middle;
          }
        }
      }
      .demo:nth-child(4n-3) {
        margin-left: 20px;
      }
      .demo:last-child {
        margin-right: 0px;
      }
    }
  }
  .todo-matter {
    .card {
      .demo {
        cursor: pointer;
        .content-left {
          p {
            font-size: 14px;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            text-align: left;
            color: #aeb5c4;
          }
          h4 {
            font-size: 16px;
            font-family: PingFangSC, PingFangSC-Medium;
            font-weight: 500;
            text-align: left;
            color: #333333;
          }
        }
        .content-right {
          img {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }
}